@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Manrope', sans-serif;
}

/* Header */
header {
  background-color:rgba(115, 0, 255, 0.252); 
  padding: 20px 20px; /* Spacing inside the header */
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff; 
  font-weight: bold;
  font-size: 20px;
}
.logo img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
nav ul {
  list-style-type: none; 
  display: flex;
}
nav li {
  margin-right: 30px;
}

/* Home */
.container{
  width: 100%;
  margin: auto;
}
.heading{
  text-align: center;
  margin-top: 60px;
  font-size: 70px;
  
}
.home_logo{
  width:100%;
    height:430px;
    display: flex;
}
.btn{
  width: 150px;
  height: 50px;
  margin-left: 150px;
  margin-top: 100px;
  border-radius: 50px;
  background-color: black;
  color:white;
  font-weight: bold;
}

/* Booking */
.bookingContainer{
  width:100%;
  height:100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.bookingDetails{
  padding:3rem;
}
.costBtn{
  width:fit-content;
  height:fit-content;
  padding: 10px;
  border:1px solid black;
  border-radius: 10px;
  font-size: 14px;
  text-align: center;
  cursor: pointer;
  font-weight: 600;
}
.costBtn:hover{
  background-color: black;
  transition-duration: 0.5s;
  color: white;
}
.cabContainer{
  width:50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cabHeading{
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}
.cabsDisplay{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 10px;
}

/* Booking Card*/
.bookingCabContainer{
  width:300px;
  height:6rem;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
}
.bookingCabContent{
  width:200px;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding:5px;
}
.bookingCabContent_1{
  width:100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: fit-content;
  margin-bottom: 10px;
}
.bookingCabBookBtn{
  width:fit-content;
  height:fit-content;
  padding: 5px;
  padding-left: 0.7rem;
  padding-right: 0.7rem;
  border:1px solid black;
  font-size: 12px;
  margin-right: 2rem;
  cursor: pointer;
  font-weight: 500;
}
.bookingCabBookBtn:hover{
  background-color: black;
  transition-duration: 0.6s;
  color: white;
}


.users__inner__left__display__each{
  width:400px;
  height:3rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border:2px solid black;
  margin-bottom: 1rem;
}
.users__inner__left__display__each__sno{
  width:fit-content;
  height: fit-content;
  padding: 5px;
  font-size: 13px;
  font-weight: 600;
}

/* Users */
.userContainer{
  width:100%;
  height:fit-content;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.userContent{
  width:40%;
  margin-top: 20px;
  height:fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.userContent1{
  width:100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  overflow-y: scroll;
  max-height:25rem;
}
.userTop{
  width:400px;
  height:3rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 1rem;
}
.userTop1{
  width:fit-content;
  height: fit-content;
  padding: 5px;
  font-size: 13px;
  font-weight: 600;
}

/* Cabs */
.cabContent{
  width:100%;
  height:fit-content;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.cabContent1{
  width:40%;
  height:30rem;
  display: flex;
  margin-top: 20px;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.cabContentBottom{
  width:100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  overflow-y: scroll;
}
.cabContentTop{
  width:400px;
  height:3rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 1rem;
}

