@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Manrope', sans-serif;
}

header {
  background-color:black; /* Background color of the header */
  padding: 20px 30px; /* Spacing inside the header */
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff; 
  font-weight: bold;
  font-size: 20px;
}

.logo img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

nav ul {
  list-style-type: none; 
  display: flex;
}

nav li {
  margin-right: 20px;
}
.container{
  width: 100%;
  margin: auto;
}
.heading{
  text-align: center;
  margin-top: 60px;
  font-size: 70px;
  
}
.home_logo{
  width:100%;
    height:430px;
    display: flex;
}
.btn{
  width: 150px;
  height: 50px;
  margin-left: 150px;
  margin-top: 100px;
  border-radius: 50px;
  background-color: black;
  color:white;
  font-weight: bold;
}
.booking__outer{
  width:100%;
  height:fit-content;
}
.booking__inner{
  width:100%;
  height:100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}
.booking__inner__left{
  width:fit-content;
  height:fit-content;
  padding:2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.booking__inner__left__heading{
  width:100%;
  height:fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 800;
  font-size: 30px;
  margin-bottom: 2rem;
}

.booking__each{
  width:300px;
  height:fit-content;
  margin-bottom: 2rem;
}
.booking__each__heading{
  width:100%;
  height:fit-content;
  font-weight: 600;
  margin-bottom: 10px;
}
.booking__each__field{
  width:100%;
  height:fit-content;
}
.booking__inputfield{
  width:95%;
  height:3rem;
  outline:none;
  font-size: 14px;
  padding-left: 10px;
  border-radius: 5px;
  border:2px solid black
}
.booking__left__button{
  width:100%;
  height:fit-content;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.booking__left__button__each{
  width:fit-content;
  height:fit-content;
  padding: 10px;
  padding-left: 1rem;
  padding-right: 1rem;
  border:2px solid black;
  font-size: 14px;
  margin-right: 2rem;
  cursor: pointer;
  font-weight: 600;
}
.booking__left__button__each:hover{
  background-color: black;
  transition-duration: 0.6s;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}



.booking__inner__right{
  width:50%;
  height:fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: 1rem;
}
.booking__inner__right__heading{
  width:100%;
  height:fit-content;
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
  margin-bottom: 2rem;
}
.booking__inner__right__time{
  width:100%;
  height:fit-content;
  display: flex;
  align-items: center;
  font-size: 15px;
  color: rgb(81, 81, 81);
  font-weight: 800;
  justify-content: center;
}
.booking__inner__right__display{
  width:100%;
  height:fit-content;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-top: 1rem;
}





.booking__cab__card{
  width:290px;
  height:5rem;
  margin:0.5rem;
  padding: 5px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}
.booking__cab__card__img{
  width:60px;
  height:60px;
  padding:10px;
  border-radius: 10px;
}
.booking__cab__card__content{
  width:200px;
  height: 88%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  padding:5px;
}
.booking__cab__card__content__top{
  width:100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: fit-content;
  margin-bottom: 10px;
}
.booking__cab__card__content__bottom{
  width:100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: fit-content;
}
.booking__cab__card__content__left{
  width:65%;
  height:100%;
}
.booking__cab__card__content__left__heading{
  width:100%;
  height:fit-content;
  font-size: 13px;
  font-weight: 600;
  margin-bottom: 0.2rem;
}
.booking__cab__card__content__left__heading__small{
  width:100%;
  height:fit-content;
  font-size: 10px;
  font-weight: 400;
  color: rgb(47, 47, 47);
}
.booking__cab__card__content__right{
  width:fit-content;
  height:100%;
}


.booking__cab__card__book{
  width:100%;
  height:fit-content;
}
.booking__cab__card__content__bottom{
  width:fit-content;
  height:fit-content;
  padding: 5px;
  padding-left: 0.7rem;
  padding-right: 0.7rem;
  border:2px solid black;
  font-size: 12px;
  margin-right: 2rem;
  cursor: pointer;
  font-weight: 500;
}
.booking__cab__card__content__bottom:hover{
  background-color: black;
  transition-duration: 0.6s;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.users__inner__left__display__each{
  width:400px;
  height:3rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border:2px solid black;
  margin-bottom: 1rem;
}
.users__inner__left__display__each__sno{
  width:fit-content;
  height: fit-content;
  padding: 5px;
  font-size: 13px;
  font-weight: 600;
}
.users__outer{
  width:100%;
  height:fit-content;
  margin-top: 1rem;
}

.users__inner{
  width:100%;
  height:fit-content;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.users__inner__left{
  width:40%;
  height:30rem;
}
.users__inner__left__heading{
  width:100%;
  height:fit-content;
  display: flex;
  align-items:center;
  justify-content: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 28px;
  font-weight: 800;
}


.users__inner__right{
  width:40%;
  height:fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.users__inner__left__display{
  width:100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  overflow-y: scroll;
  max-height:25rem;
  
}
.users__inner__left__display__each{
  width:400px;
  height:3rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border:2px solid black;
  margin-bottom: 1rem;
}
.users__inner__left__display__each__sno{
  width:fit-content;
  height: fit-content;
  padding: 5px;
  font-size: 13px;
  font-weight: 600;
}



.cabs__outer{
  width:100%;
  height:fit-content;
  margin-top: 3rem;
  margin-bottom: 5rem;
}

.cabs__inner{
  width:100%;
  height:fit-content;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.cabs__inner__left{
  width:40%;
  height:30rem;
}
.cabs__inner__left__heading{
  width:100%;
  height:fit-content;
  display: flex;
  align-items:center;
  justify-content: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 28px;
  font-weight: 800;
}


.cabs__inner__right{
  width:40%;
  height:30rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.cabs__inner__left__display{
  width:100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  overflow-y: scroll;
  
}
.cabs__inner__left__display__each{
  width:400px;
  height:3rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border:2px solid black;
  margin-bottom: 1rem;
}
.cabs__inner__left__display__each__sno{
  width:fit-content;
  height: fit-content;
  padding: 5px;
  font-size: 13px;
  font-weight: 600;
}